<div class="profile-container">
    <div class="profile-background" style="position: relative; background-image: url('/img/default_cover.jpg')">
        <md-button class="md-icon-button" style="position: absolute; top: 10px; right: 10px;">
            <md-icon md-font-icon="fa fa-google" style="font-size: 20px; color: white;" ng-click="changeProfileType('google');"></md-icon>
        </md-button>
    </div>
    <div>
        <span class="profile-user-avatar">
            <div class="avatar-hover" ng-click="selectAvatar();">
                <md-button class="md-icon-button">
                    <md-icon md-font-icon="fa fa-camera"></md-icon>
                </md-button>
            </div>
            <img ng-src="{{user.avatar_url}}" aria-label="Profile's photo" ng-cloak>
        </span>
    </div>
    <div class="profile-user-name">{{user.first_name + ' ' + user.last_name}}<span style="font-style: italic; font-weight: 100;" ng-if="!!user.email">{{ '(' + user.email + ')' }}</span></div>
</div>
<div layout="column" flex>
    <div layout="row" flex layout-align="space-around center">
        <div flex layout="row" layout-align="center center">
            <md-input-container>
                <label>First name</label>
                <input ng-model="user.first_name">
            </md-input-container>
        </div>
        <div flex layout="row" layout-align="center center">
            <md-input-container>
                <label>Last name</label>
                <input ng-model="user.last_name">
            </md-input-container>
        </div>
    </div>
    <div layout="row" flex layout-align="space-around center">
        <div flex layout="row" layout-align="center center">
            <md-input-container>
                <label>Birth year</label>
                <md-select ng-model="user.birthYear">
                    <md-option ng-repeat="i in $root.getRange('birth year') track by $index" ng-value="i">{{i}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Birth month</label>
                <md-select ng-model="user.birthMonth">
                    <md-option ng-repeat="i in $root.getRange('birth month') track by $index" ng-value="i">{{i}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Birth date</label>
                <md-select ng-model="user.birthDate">
                    <md-option ng-repeat="i in $root.getRange('birth date', { year: user.birthYear, month: user.birthMonth }) track by $index" ng-value="i">{{i}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex layout="row" layout-align="center center">
            <md-input-container>
                <label>Email</label>
                <input ng-model="user.email">
            </md-input-container>
        </div>
    </div>
    <div layout-align="center center" layout="row">
        <md-button ng-click="updateProfile()" class="md-primary md-raised">Update profile</md-button>
    </div>
</div>