<div class="profile-container">
    <div class="profile-background" style="position: relative; background-image: url('/img/default_cover.jpg')">
        <md-button class="md-icon-button" style="position: absolute; top: 10px; right: 10px;">
            <md-icon md-font-icon="fa fa-user" style="font-size: 20px; color: white;" ng-click="changeProfileType('Internal');"></md-icon>
        </md-button>
    </div>
    <div>
        <span class="profile-user-avatar">
            <div class="avatar-hover" ng-click="selectAvatar();">
                <md-button class="md-icon-button">
                    <md-icon md-font-icon="fa fa-camera"></md-icon>
                </md-button>
            </div>
            <img ng-src="{{user.info.avatar_url}}" aria-label="Profile's photo">
        </span>
    </div>
    <div class="profile-user-name">{{user.info.first_name + ' ' + user.info.last_name}}</div>
    <div class="profile-user-name">{{user.info.email}}</div>
</div>