<md-content flex class="md-padding" layout="row">
    <div>
        <div>
            <md-button ng-click="addEvent();">Add event</md-button>
        </div>
        <div>Google</div>
        <div>
            <md-list>
                <md-list-item flex layout="row" ng-repeat="calendar in calendars.google">
                    <div style="height: 10px; width: 10px;" ng-style="{ backgroundColor: calendar.backgroundColor }"></div>
                    <div ng-bind="calendar.summary"></div>
                </md-list-item>
            </md-list>
        </div>
    </div>
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" class="calendar" flex></div>
</md-content>